version: '3.8'

services:
    app:
        build:
            context: .
            dockerfile: docker/app/Dockerfile
        container_name: laravel-app
        restart: always
        volumes:
            - ./:/var/www/html
        networks:
            - laravel-network
        depends_on:
            - db

    nginx:
        image: nginx:alpine
        container_name: laravel-nginx
        restart: always
        ports:
            - "8000:80"
        volumes:
            - ./:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        networks:
            - laravel-network
        depends_on:
            - app

    db:
        image: mysql:8.0
        container_name: laravel-mysql
        restart: always
        environment:
            - MYSQL_DATABASE=${DB_DATABASE}
            - MYSQL_USER=${DB_USERNAME}
            - MYSQL_PASSWORD=${DB_PASSWORD}
            - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
        volumes:
            - mysqldata:/var/lib/mysql
        networks:
            - laravel-network
        ports:
            - "3307:3306" # Alterado para usar a porta 3307 no host

networks:
    laravel-network:
        driver: bridge

volumes:
    mysqldata:
        driver: local
